# Конфигурационные файлы и директории IDE
.idea/

# Директории сборки и временные файлы
/target/
/shelf/

# Конфигурации рабочего пространства
/workspace.xml

# HTTP-запросы и данные источников (если они конфиденциальные или локальные)
httpRequests/
/dataSources/
/dataSources.local.xml

# Логи
*.log

# Maven
*.log
pom.xml

# Системные файлы
.DS_Store
Thumbs.db

# Другие специфичные файлы
*.iml